* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
    margin: auto;
    width: 1440px;
    background-color: #F6F3E9;
    font-family: 'Roboto', sans-serif;
}

/* header*/
.logo img {
    width: 150px;
    margin-top: 20px;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul li {
    padding: 40px 15px;
    display: inline-block;
    font-size: 25px;
}

nav ul li a,
.footer-box a,
.box-dn1 a {
    color: #000;
    text-decoration: none;

}

nav ul li a:hover,
.footer-box a:hover,
.footer-box p:hover {
    color: #8E1E20;
    font-weight: bold;
    transition: 0.5s;
    /*zoom: calc(1.2);*/
}

.menu {
    display: flex;
    grid-gap: 30px;
}

.header_book input,
.main-chitiet a input,
.frm-gt button {
    margin: 30px 10px;
    padding: 13px 25px;
    background-color: #487254;
    color: white;
    border: 1px solid #487254;
    border-radius: 5px;
    font-size: 20px;
}

/*banner*/
.banner img{
    margin: 10px 0;
    width: 100%;
}

/* main dịch vụ*/
.main-dichvu,
.main-loaiphong h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}

.main-dichvu img {
    width: 100%;
}

.dv-product-right,
.dv-product-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 23px 0;
    grid-gap: 40px;
    padding: 10px;
}

.dv-product-info {
    margin: auto 0;
}

.dv-product-info h2,
.item-ct h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.dv-product-info p {
    padding: 10px;
    font-size: 20px;
    text-indent: 20px;
}

.dv-product-info input {
    padding: 13px 50px;
    background-color: #487254;
    color: #fff;
    border: 1px solid #487254;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 40px;
}

.dv-product-info input:hover,
.header_book input:hover {
    background-color: rgb(93, 156, 135);
}

.dv-product-info h2:hover {
    color: #8E1E20;
}

.icon-dv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 70px;
}
/*//date*/
/*.input-date{*/
/*    padding: 10px !important;*/
/*   border-radius: 10px;*/
/*}*/
.icon-dv img {
    width: 150px;
}

/* main loai phòng*/
.lp-fillter {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.lp-product-img img{
  width: 100%;
  height: 100%;
} 
.lp-product-img{
    height: 300px;
}
.lp-fillter input,
.lp-fillter select {
    font-size: 20px;
    height: 50px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #F6F3E9;
}

.lp-product,
.ct-phongkhac {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10px;
    margin: 40px 0;
    grid-gap: 30px;
    text-align: center;
}

.lp-product1,
.ct-phongkhac1 {
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.lp-product1:hover,
.ct-phongkhac1:hover {
    background-color: rgb(245, 237, 237);
    border: 1px solid rgb(245, 237, 237);
}

.lp-product img:hover,
.ct-phongkhac-img img:hover {
    animation: item-content 3s ease-out infinite;
}

@keyframes item-content {
    50% {
        transform: scale(1.1, 1.1);
    }

}

.lp-product-info a,
.ctphongkhac-info a {
    text-decoration: none;
}

.lp-product-info h4,
.ctphongkhac-info h4,
.chitietphong h4 {
    font-size: 25px;
    color: #000;
    margin: 15px 0;
}

.lp-product-info h4:hover,
.lp-product-info span:hover {
    color: #8E1E20;
}

/*footer*/
.footer-box1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    margin: 30px 0;
    padding: 20px;
    line-height: 300%;
    border-color: rgb(189, 174, 174);
}

.footer-box a:hover {
    box-shadow: 0 2px #8E1E20;
}
/* chi tiết phòng */
.anh{
    
    height: 300px;
}
.anh img{
    width: 100%;
    height: 100%;
}
/*Đăng nhập-đăng kí*/
.dn-box,
.dk-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
}

.info-dn,
.info-dk {
    padding: 0 100px;
}

.info-dn-img img.info-dk-img img {
    width: 100%;
    height: 700px;
}

.info-dn h2,
.info-dk h2,
.info-mk h2,
.main-bookphong h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
}

.box-dn input,
.info-dk input,
.info-mk input,
.frm-gt input,
.boxphong-item input,
.boxphong-item select {
    height: 70px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info-dn button,
.info-mk button,
.info-dn-ip,
.info-dk-ip,
.info-mk-ip,
.info-dk-ip {
    height: 50px;
    width: 500px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #487254;
    border-radius: 5px;
    background-color: #000;
    color: white;
    margin: 15px 0;
}

.box-dn p,
.box-dk p,
.box-mk p {
    margin: 20px 0;
    font-size: 20px;
    padding: 0 10px;
}

.box-dn1 {
    padding: 0 50px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.dki {
    text-align: center;
}

.dki a {
    color: blue;
    text-decoration: none;
}

.dki a:hover,
.box-dn1 a:hover,
.info-mk-a a:hover {
    box-shadow: 0 2px blue;
}

.logo-dn {
    margin: 20px 0;
    text-align: center;
}

.info-dk button {
    width: 150px;
    height: 50px;
    border: 1px solid #000;
    background-color: #000;
    color: #ffff;
    border-radius: 5px;
    margin: 20px 170px;
}

.frm-mk {
    margin-left: 480px;
}

.info-mk-a a {
    text-decoration: none;
    color: blue;
    margin-left: 900px;

}

.mk-box {
    margin: 30px 0;
}

/* main - chi tiết phòng*/
.main-chitiet h1 {
    margin: 40px;
    color: #487254;
}

.item-ct {
    padding: 20px;
}

.item-ct p {
    font-size: 20px;
    text-indent: 20px;
}

.chitietphong {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 200%;
    grid-gap: 30px;

}

.chitietphong p {
    font-size: 20px;
}

.main-chitiet a input {
    margin-left: 640px;
}

/* CSSS TRANG GIỚI THIỆU*/
.main-gioithieu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
}

.main-gioithieu p,
.boxgt-ct-item,
.box-gt p,
.tilte p {
    font-size: 20px;
    line-height: 200%;
}

.main-gioithieu img {
    width: 100%;
}

.main-gioithieu h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
    font-weight: 900;
}

.boxgt-ct {
    margin: 30px 0;
    display: flex;
    grid-gap: 40px;
}

.boxgt-ct img {
    width: 700px;
    border-radius: 5px;
}

.icon-box-gt i {
    width: 30px;
}

.icon-box-gt {
    text-align: center;
    margin: 30px 0;
}

.table-gt {
    width: 500px;
    padding: 5px;
    border: 1px solid #000;
}

table tr th {
    border-spacing: 0;
}

.box-dm {
    line-height: 300%;
}

.box-dm h2 {
    margin-top: 155px;
    font-size: 30px;
    margin-bottom: 20px;
}

.main-gioithieu span {
    font-weight: bold;
    font-size: 23px;
}

.box-dm a {
    font-size: 30px;
    color: #000;
    text-decoration: dashed;
}

.box-dm a:hover {
    color: #8E1E20;
}

/* css lieen he*/
.main-lienhe,
.frm-boxright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
    margin: 30px 0;
}

.lh-box-left {
    font-size: 20px;
}

.lh-box-left h2 {
    margin: 40px 0;
    margin-left: 20px;
}

.lh-box-left p {
    margin: 16px 0;
}

.frm-boxright input,
.frm-boxright select {
    height: 40px;
    width: 300px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(194, 186, 186);
}

.lh-box-right textarea {
    border: 1px solid rgb(194, 186, 186);
    width: 300px;
    margin-left: 10px;
    height: 300px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

.lh-box-right #submit{
    margin-left: 10px;
    margin-top: 20px;
    width: 70px;
    height: 40px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
}

/* css trang chủ  */
.banner-header {
    display: grid;
    grid-template-columns: 60% 40%;
}

.tilte {
    padding-top: 140px;
}

.tilte h1 {
    font-size: 90px;
    padding-left: 100px;
    width: 80%;
}

.tilte p {
    font-size: 25px;
    padding-left: 100px;
    padding-top: 30px;
}

.banner .image {
    position: relative;
    top: -201px;
    left: 10px;

}

.header_book {
    z-index: 1;
}

.book-date {
    background-color: #fff;
    width: 80%;
    height: 100px;
    line-height: 80px;
    margin-left: 40px;
    position: relative;
    bottom: 400px;
}

.book-date form {
    padding-left: 10px;
}

.book-date form label {
    color: #487254;
    font-size: 25px;
    margin-right: 10px;
}

.book-date form input {
    margin-right: 30px;
}

.book-date form #number {
    width: 50px;
}

.book-date form #book {
    color: #fff;
    background-color: #487254;
    font-size: 20px;
    border: none;
    width: 180px;
    height: 60px;
    margin-left: 15px;
}

.header-conten {
    position: relative;
    top: -240px;
}

.conten {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 150px;
    line-height: 30px;
}

.conten h2 {
    width: 60%;
    font-size: 25px;
    padding-left: 100px;
    margin-top: 40px;
}

.conten p {
    padding: 32px 10px;
    text-align: justify;
    border-left: 1px solid #000;

}

.box-index {
    position: relative;
    top: -150px;
}

.introduction {
    text-align: center;
}

.introduction img {
    width: 90%;
}

.introduction p {
    padding-top: 30px;
    font-size: 25px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.introduction button {
    width: 200px;
    height: 70px;
    border-radius: 5px;
    background-color: #487254;
    border: none;
}

.service .tillet button a,
.introduction button a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.introduction button:hover {
    background-color: #000;
}

.main-loaiphongs h1,
.main-service h1 {
    margin-left: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.service {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 50px;

}

.service img {
    width: 40%;
}

.service .tillet p {
    width: 90%;
    font-size: 30px;
}

.service .tillet button {
    width: 180px;
    height: 50px;
    background-color: #487254;
    border: none;
    margin: 20px 0;
}

.room {
    position: relative;
    /*width: 30%;*/
    width: 289px;
    margin: 0 20px;
}

.room img {
    width: 100%;
    height: 288px;

}

.information {
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 98px;
    transition: 0.7s;
    background-color: #d9d9d99e;
    width: 100%;
    opacity: 0;
}

.icon {
    padding-bottom: 10px;
}

.icon p {
    font-size: 15px;

}

.information button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: #33974f;
}

.information button a {
    color: #fff;
    text-decoration: none;
}

.room:hover .information {
    opacity: 1;
}

/*book phòng*/
.frm-boxphong {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 0 150px;
    font-size: 20px;
    line-height: 200%;
}

.main-bookphong table {
    width: 1076px;
    border-radius: 5px;
    border-collapse: collapse;
    margin: 30px 150px;
    background-color: #fff;
}

.main-bookphong table tr {
    text-align: center;
}

.main-bookphong table th {
    padding: 10px;
    border: 1px solid #ccc;
}

.main-bookphong table td {
    padding: 10px 20px;
    border: 1px solid #CCC;
}

.main-bookphong table select {
    width: 110px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 5px;
}

.boxphong-item textarea {
    border: 1px solid rgb(194, 186, 186);
    width: 500px;
    height: 200px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

.checkbox-bp input {
    margin-top: 30px;
    margin-left: 727px;
    font-size: 20px;
    padding: 5px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    color: #fff;
}

.checkbox-bp button {
    height: 50px;
    width: 90px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    margin-left: 727px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

/* slideshow*/
* {
    box-sizing: border-box
}
.imgSlider>img{
    width: 1440px;
    height: 600px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1440px;
    position: relative;
   
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.fade img{
   width: 100%;
   height: 650px;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.frm-ctp{
    margin-left: 20px;
    text-align: center;
}
.frm-ctp input:nth-child(5),.frombinhluan input:nth-child(2){
    height: 50px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 2px #33974f;
    font-size: 20px;
}
.frm-ctp input:nth-child(6){
    height: 50px;
    width: 100px;
    background-color:#33974f;
    border-radius: 5px;
    border: 1px solid #33974f;
    font-size: 20px;
    color: #fff;
}
.frm-ctp input:nth-child(1){
    height: 50px;
    width: 100px;
    background-color:#33974f;
    border-radius: 5px;
    border: 1px solid #33974f;
    font-size: 20px;
    color: #fff;
}
.cart-row td a input{
    padding: 10px 10px;
    background-color: #33974f;
    border-radius: 5px;
    border: 1px solid #33974f;
    font-size: 20px;
    color: #fff;
}
.topproducts{
    margin: 20px 20px ;
    line-height: 150%;
}
/* bình luận*/
.thanhphan table{
    width: 50%;
    line-height: 200%;
    border: 1px solid rgb(242, 239, 239);
    margin: 20px 0;
}
.frombinhluan input:nth-child(3){
    height: 50px;
    width: 150px;
    background-color:#33974f;
    border-radius: 5px;
    border: 1px solid #33974f;
    font-size: 20px;
    color: #fff;
}